.ptop {
  padding-top: 45px;
}

.bgTransparent {
  background-color: transparent !important;
}
.height {
  height: 150px;
}
.bgColorWhite {
  background-color: #faf9f9;
}
.buttonPeople {
  padding-top: 1rem;
  display: flex;
  float: right;
}
.buttonBespoke {
  margin-top: 1rem;
  display: block;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pbottom {
  padding-bottom: 20px;
}
.pnone {
  padding: 0 !important;
}
.plr0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.darkText {
  color: black;
}
.height {
  height: 670px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.centerText {
  margin: 0 auto;
  padding-top: 50px;
  font-size: 4rem !important;
}
.heroText {
  font-size: 20px !important;
  color: #fff;
  padding-top: 80px;
  padding: 0 400px 0 400px !important;
  margin: 0 auto;
}
.white {
  color: #fff;
}

.ptop50 {
  padding-top: 50px;
}
.ptop125 {
  padding-top: 125px;
}
.ptop250 {
  padding-top: 250px;
}
.pbottom125 {
  padding-bottom: 125px;
}
.pbottom250 {
  padding-bottom: 290px;
}

.paddinglr {
  padding-left: 250px;
  padding-right: 250px;
}
.boxshadow {
  box-shadow: 0 1.5px 4px rgb(20 0 0 / 20%),
    8px -10px 23px hsl(0deg 0% 100% / 90%);
}

.paddingLrInner {
  padding-left: 50px;
  padding-right: 50px;
}

.paratext {
  font-size: 1.4rem;
}

.cardHeadings {
  font-size: 4rem !important;
}

@media only screen and (max-width: 900px) {
  .paddinglr {
    padding-left: 0px;
    padding-right: 0px;
  }

  .ptop125 {
    padding-top: 50px;
  }
  .ptop250 {
    padding-top: 0px;
  }
  .pbottom125 {
    padding-bottom: 50px;
  }
  .pbottom250 {
    padding-bottom: 0px;
  }
}
