.ptop {
  padding-top: 45px;
}

.bgTransparent {
  background-color: transparent !important;
}
.height {
  height: 150px;
}
.bgColorWhite {
  background-color: #faf9f9;
}
.buttonPeople {
  padding-top: 1rem;
  display: flex;
  float: right;
}
.buttonBespoke {
  margin-top: 1rem;
  display: block;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pbottom {
  padding-bottom: 20px;
}
.pnone {
  padding: 0 !important;
}
.plr0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.darkText {
  color: black;
}
.height {
  height: 670px;
}
.centerText {
  margin: 0 auto;
  padding-top: 50px;
  font-size: 4rem !important;
}
.heroText {
  font-size: 20px !important;
  color: #fff;
  padding-top: 80px;
  padding: 0 400px 0 400px !important;
  margin: 0 auto;
}
.white {
  color: #fff;
}

.ptop50 {
  padding-top: 50px;
}
.ptop125 {
  padding-top: 125px;
}
.ptop250 {
  padding-top: 250px;
}
.pbottom125 {
  padding-bottom: 125px;
}
.pbottom250 {
  padding-bottom: 290px;
}

.paddinglr {
  padding-left: 350px;
  padding-right: 350px;
}

.paddingLrInner {
  padding-left: 50px;
  padding-right: 50px;
}

.paratext {
  font-size: 1.4rem;
}

.cardHeadings {
  font-size: 4rem !important;
}

@media only screen and (max-width: 900px) {
  .paddinglr {
    padding-left: 0px;
    padding-right: 0px;
  }

  .ptop125 {
    padding-top: 50px;
  }
  .ptop250 {
    padding-top: 0px;
  }
  .pbottom125 {
    padding-bottom: 50px;
  }
  .pbottom250 {
    padding-bottom: 0px;
  }
}

* {
  box-sizing: border-box;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.7rem;
  text-align: left;
}
.center-content {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-wrapper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
  position: relative;
  max-width: 750px;
}
.width100percent {
  width: 100%;
}

.split-pane {
  width: 100%;
}
.split-pane-copy {
  min-height: 400px;
  justify-content: center;
}
div {
  display: block;
}

.split-pane[data-alternate="true"]:nth-of-type(2n) .split-pane-inner {
  flex-direction: row-reverse;
}
.split-pane .split-pane-inner {
  display: flex;
  width: 100%;
  min-height: 200px;
  max-width: 1280px;
  margin: 0 auto;
}
.split-pane .split-pane-inner > * {
  flex-basis: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.split-pane-copy .split-pane-copy-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}
.split-pane-copy .split-pane-copy-copy .split-pane-copy-copy-inner {
  max-width: 700px;
}

.rm-markdown h3 {
  font-size: 1.1rem;
}

.rm-markdown {
  width: 100%;
  max-width: 720px;
  padding: 20px;
}
.split-pane-copy
  .split-pane-copy-copy
  .split-pane-copy-copy-inner
  .rm-markdown
  p {
  line-height: 1.7rem;
}
.rm-markdown > p {
  margin: 20px 0;
}

button {
  writing-mode: horizontal-tb !important;
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark-color(
    rgb(239, 239, 239),
    rgb(74, 74, 74)
  );
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark-color(
    rgb(118, 118, 118),
    rgb(195, 195, 195)
  );
  border-image: initial;
}

body .btn[data-variant="brand-secondary"],
body input[type="submit"][data-variant="brand-secondary"] {
  background-color: #0a3053;
  box-shadow: 0 1.5px 4px rgba(0, 163, 135, 0.3);
  color: #fff;
}
body .btn,
body input[type="submit"] {
  position: relative;
  overflow: hidden;
  padding: 11px 22px 8px;
  margin: 0;
  border-radius: 4px;
  background-color: rgba(250, 249, 249, 0);
  box-shadow: 0 1.5px 4px rgba(20, 0, 0, 0.1);
  font-weight: 600;
  font-size: 0.8rem;
  transition: color 0.3s, background-color 0.3s, opacity 0.3s, transform 0.3s,
    box-shadow 0.3s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  color: inherit;
}

.btn {
  position: relative;
  background-color: #807d7d;
  color: #fff;
  padding: 15px 17px;
  cursor: pointer;
  transition: all 0.1s;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

.btn:before {
  content: "";
  display: inline-block;
  width: 0;
  transition: width 0.2s;
}

.animated-h1 {
  color: #fff;
  font-size: 5rem;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.animated-h1 {
  padding-top: 150px;
}
