.social-footer {
  padding: 2rem;
  background-color: #faf9f9 !important;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  height: 150px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.menu {
  margin: 0;
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.menu > li > a i,
.menu > li > a svg {
  margin-right: 2.25rem;
}

.social-footer .social-footer-icons li:last-of-type {
  margin: 8;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.5rem;
  color: #222020;
  opacity: 0.55;
}

.social-footer .social-footer-icons .fa:hover {
  color: #222020;
  opacity: 1;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.copyright-icon {
  font-size: 0.8rem !important;
  padding-bottom: 4px;
}
.copyright {
  color: #222020 !important;
  opacity: 0.7 !important;
}
