.nav {
  color: #222 !important;
  opacity: 0.55;
  text-decoration: none;
  z-index: 1;
}

.nav .linkItems:hover {
  color: black;
  opacity: 2;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  text-decoration: none;
  font-weight: 700;
}

:link,
:visited {
  color: #222;
}

.opacity {
  opacity: 0.55 !important;
}
