.nav {
  color: #fff !important;
  opacity: 1;
  text-decoration: none;
  font-size: 0.8rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  background-color: #1f487e !important;
}

.nav .linkItems:hover,
.droptown-toggle a:hover {
  color: rgb(0, 0, 0) !important;
  opacity: 0.55;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  text-decoration: none;
  font-weight: 700;
}

:link,
:visited {
  color: #fff;
  font-size: 0.8rem;
}

.opacity {
  opacity: 0.55 !important;
}

a:hover {
  color: #fff !important;
}

.dropdown-menu {
  background-color: #1f487e;
}
